{% extends "base.html" %}

{% block content %}
<main>
    <div class="column" style="width:50px"></div>

    <div class="column">
        <h1>Welcome to GC-PayScales</h1>
            <p>This application is an API for Government of Canada pay/salary scales for classifications and levels. The intent is to have a central, easy to access and use resource for accurate pay information. This will reduce duplication and potential errors across organizations and serve as an example of how APIs can support day-to-day business in government.</p>
            
            <p>You can explore and experiment with the API here: <a href="https://gc-payscales.herokuapp.com/playground">https://gc-payscales.herokuapp.com/playground</a></p>
            
            <p>A sample query looks like this:</p>

                <pre>
                    <code>
                        query AnniversaryQuery {
                            group(identifier: EC) {
                              payscaleForLevel(level:4) {
                                steps
                              }
                              identifier
                              payAtLevelByAnniversaryDateBetweenDates(
                                level: 4,
                                anniversaryDate: "2017-02-08",
                                startDate: "2018-01-01",
                                endDate: "2020-06-30"
                              ){
                                step
                                startDate
                                endDate
                                workDays
                                workHours
                                hourlyRate
                                annualRate
                                salary
                              }
                            }
                          }
                    </code>
                </pre>

            <p>If you'd like to test the API, you can upload a CSV (Comma Separated Values) file in the following format:</p>

            <hr>
            <table>
                <tr>
                    <th>last_name</th>
                    <th>first_name</th>
                    <th>group</th>
                    <th>level</th>
                    <th>anniversary_date</th>
                    <th>start_date</th>
                    <th>end_date</th>
                </tr>
                <tr>
                    <td>Beta</td>
                    <td>Beatrice</td>
                    <td>EC</td>
                    <td>4</td>
                    <td>2018-06-08</td>
                    <td>2019-01-20</td>
                    <td>2020-01-20</td>
                </tr>
                <tr>
                    <td>Delta</td>
                    <td>Delphine</td>
                    <td>FB</td>
                    <td>6</td>
                    <td>2018-06-08</td>
                    <td>2019-01-20</td>
                    <td>2020-01-20</td>
                </tr>
                <tr>
                    <td>Epsilon</td>
                    <td>Edgar</td>
                    <td>CS</td>
                    <td>2</td>
                    <td>2018-06-08</td>
                    <td>2019-01-20</td>
                    <td>2020-01-20</td>
                </tr>
                <tr>
                    <td>Gamma</td>
                    <td>Geralt</td>
                    <td>PM</td>
                    <td>4</td>
                    <td>2018-06-08</td>
                    <td>2019-01-20</td>
                    <td>2020-01-20</td>
                </tr>
            </table>

            <hr>

            <p>The queries may take some time depending on the size of CSV uploaded.</p>
            <p>The site will take your spreadsheet, call the API and generate a new CSV file with your results.
                You can then download or open the file to see the results.</p>

                <form target="/" method="post" enctype="multipart/form-data">
                    <input type="file" multiple name="file"/>
                    <input type="submit" value="Submit"></button>
                </form>
            
            <hr>
            <p>The resulting document will break up pay by agreement in force at the time and have the following new columns:</p>
            <ul>
                <li>pay_step</li>
                <li>work_hours</li>
                <li>work_days</li>
                <li>hourly_rate</li>
                <li>annual_rate</li>
                <li>salary</li>
            </ul>
            <hr>
        
            <p>Please note that this work is a learning project, may contain errors and should not be used to make pay-related decisions.</p>
            <p>The PayScraper project is available on GitHub under an MIT licence here: <a href="https://github.com/ToferC/payscraper">https://github.com/ToferC/payscraper</a></p>
            <p>The API is available here under the same licence: <a href="https://github.com/ToferC/payscales">https://github.com/ToferC/payscales</a></p>
        
            <p>Developed by ToferC 2020</p>
        </div>
    <div class="column" style="width:50px"></div>
    </main>
{% endblock content %}